.contact{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .card{
    height: 130px;
    padding: 5px;
}
.contact input , .contact textarea{
    width: 100%;
    background-color: white;
}
.contact .row .one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .icons{
    font-size: 20px;
    font-weight: bold;
}
.contact h6{
    font-weight: bold;
    font-family: Georgia, serif;
}
p{
    font-size: 14px;
    text-align: center;
    flex-wrap: wrap;
}