* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-image: url("asset26.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 50vh; */
    padding: 30px;
}
footer {
    color: white;
}
footer form {
    display: flex;
    flex-wrap: nowrap;
}
footer button {
    position: relative;
    right: 35px;
    height: 40px;
    width: 150px;
    font-size: 13px;
    background-color: #fff;
}
footer input {
    border: 1px solid #fff !important;
    outline: none; 
}
footer input::placeholder{
    color: white;
}
footer ul li {
    font-size: 14px;
    list-style: none;
    white-space: nowrap;
}
footer li:hover{
    border-bottom: 1px solid white;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a i:hover {
    color:#bbb;
    
}

footer h6 {
    font-size: 18px;
    font-family: Georgia, serif;
    flex-wrap: nowrap;
}
.toast-success {
    background-color: rgb(10, 233, 10);
    color: white !important;
}
.toast-error {
    background-color: red;
    color: white !important;
}